# dependencies
node_modules/

# next
.next/
.next-dev/
out/

# env
.env
.env.local
.env.development
.env.production

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo

# system
.DS_Store

# editor
.vscode/
.idea/

# test
test-results/
playwright-report/